html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainContainer {
  display: flex;
  border: 1px solid darkblue;
  flex-flow: column nowrap;
  margin: auto;
  margin-top: 2rem;
  width: 800px;
  height: 800px;
}
#controlsContainer {
  display: inline-block;
  position: sticky;
  top: 1.5rem;
  left: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: rgb(0, 75, 146);
  background-color: lavender;
}
.toggleDiv {
  display: flex;
  margin: 2px;
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 4px;
  align-items: center;
}

.divGrid {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  background-color: white;
}

label {
  padding: 4px;
}

button {
  background-color: white;
  border: 1px solid rgb(2, 93, 116);
  border-radius: 4px;
  color: rgb(0, 75, 146);
  font-size: 1rem;
  margin: 2px;
}
#buttonContainer {
  display: grid;
  margin-bottom: -2px;
  grid-template-columns: 1fr 1fr;
}

#colorContainer,
#colorSwitches {
  display: flex;
  background-color: white;
  border: 1px solid rgb(2, 93, 116);
  border-radius: 4px;
  color: rgb(0, 75, 146);
  justify-content: space-evenly;
  align-items: center;
}
.colorDiv {
  margin: 2px;
  border-radius: 4px;
  padding: 0.8rem;
  border: 1px solid rgb(2, 93, 116);
}
#colorSwitches {
  margin-top: 2px;
  justify-content: flex-start;
}
